<head>
  <meta charset="utf-8">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <% if (config.feed) { %>
    <% if (config.feed.type.length && config.feed.path.length) { %>
      <% if (typeof config.feed.type === 'string' ) { %>
        <link rel="alternate" type="application/<%- config.feed.type.replace(/2$/, '') %>+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
      <% } else { %>
        <% for (const i in config.feed.type) { %>
          <link rel="alternate" type="application/<%- config.feed.type[i].replace(/2$/, '') %>+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path[i]) %>">
        <% } %>
      <% } %>
    <% } %>
  <% } else if (theme.rss) { %>
    <link rel="alternate" href="<%- url_for(theme.rss) %>" title="<%= config.title %>" type="application/atom+xml">
  <% } %>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/sinofine/page-files@0.1/favicon.png">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sinofine/page-files@0.2/typing.css">
</head>
